src/ftpserver/bin/Debug/net5.0/Figgle.dll
src/ftpserver/bin/Debug/net5.0/ftpserver
src/ftpserver/bin/Debug/net5.0/Pastel.dll
src/ftpserver/bin/Debug/net5.0/ref/ftpserver.dll
src/ftpserver/bin/Debug/net5.0/runtimes/linux-arm/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/linux-arm/native/libMonoPosixHelper.so
src/ftpserver/bin/Debug/net5.0/runtimes/linux-arm64/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/linux-arm64/native/libMonoPosixHelper.so
src/ftpserver/bin/Debug/net5.0/runtimes/linux-armel/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/linux-armel/native/libMonoPosixHelper.so
src/ftpserver/bin/Debug/net5.0/runtimes/linux-x64/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/linux-x64/native/libMonoPosixHelper.so
src/ftpserver/bin/Debug/net5.0/runtimes/linux-x86/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/linux-x86/native/libMonoPosixHelper.so
src/ftpserver/bin/Debug/net5.0/runtimes/osx/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/osx/native/libMonoPosixHelper.dylib
src/ftpserver/bin/Debug/net5.0/runtimes/win-x64/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/win-x64/native/libMonoPosixHelper.dll
src/ftpserver/bin/Debug/net5.0/runtimes/win-x64/native/MonoPosixHelper.dll
src/ftpserver/bin/Debug/net5.0/runtimes/win-x86/lib/netstandard2.0/Mono.Posix.NETStandard.dll
src/ftpserver/bin/Debug/net5.0/runtimes/win-x86/native/libMonoPosixHelper.dll
src/ftpserver/bin/Debug/net5.0/runtimes/win-x86/native/MonoPosixHelper.dll
src/ftpserver/bin/Debug/net5.0/ftpserver.dll
src/ftpserver/bin/Debug/net5.0/ftpserver.pdb
src/ftpserver/obj/Debug/net5.0/ftpserver.dll
src/ftpserver/obj/Debug/net5.0/ftpserver.pdb
src/ftpserver/obj/Debug/net5.0/ref/ftpserver.dll
